body {
  margin: 0;
  background: #bbbfc2;
  font-family: sans-serif;
}
.container {
  max-width: 65rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  background: white;
  box-shadow: 0 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.4);
}
.hero {
  background: url(mountain.jpg) no-repeat;
  background-size: cover;
  height: 40vh;
}
.main {
  display: flex;
  margin-top: 60px;
  height: 51vh;
}
.left {
  min-width: 20%;
}
.options {
  padding: 1rem;
  background: linear-gradient(to right, #ebeced , #d1d5d6);
  text-align: center;
  border-bottom: solid 1px white;
  color: #9ba0a4;
  cursor: pointer;
}
.right {
  display: none;
  flex-grow: 1;
  padding: 0 70px;
  text-align: center;
}
.right-title {
  color: #36abe1;
  line-height: 20px;
}
#option1{
  display: block;
}
#colorMe1 {
  background: white;
  color: #36abe1;
}
